#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_ARCH=anyb
export DEB_HOST_ARCH=anyh
export DEB_TARGET_ARCH=anyt

%:
	dh $@ 

override_dh_auto_test:
	true

override_dh_builddeb:
	# Compress .deb destination files with gzip instead of xz for
	# compatibility with older Debian releases. See also
	# debian/source/options for the source package.
	dh_builddeb -- -Zgzip
